*{
		box-sizing:border-box;
}

.row{
	justify-content: center;
}
h1{
	font-family: 'Special Elite', cursive;
}
#div1,#div2,#div3{
position: relative;
	font-family: 'Special Elite', cursive;
	height: 155px;
	width: 265px;
	border: 2px solid black;
	color: black;
	padding:0;
	background: #A5ABA9;
	box-shadow: 4px 4px 7px 7px  ;
}

.p1{
	position: relative;
	height: 30px;
	width: 100px;
	text-align: center;
	padding: 2px;
	padding-top: 7px;
	top:-2px;
	left: 163px;
	border: 2px solid black;
	}

.p2{
position: relative;
left: 5px;
top:-2px;
}

div{
margin:25px;
display: flex ;
flex-wrap: wrap;
}
@media (min-width: 992px)
{
	.col-lg-4
	{
		float: left;
		width: 33.33%;
	}

}
@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-6
	{
			float: left;			
			width: 50%;
	}
	.col-md-12
	{
			float: left;
			margin-right: 25px;
			width: 100%;
	}
	#div3
	{
			position: relative;
			height: 155px;
			width:585px;
	}
	#p31
	{
			position: relative;
			height: 30px;
			width: 100px;
			text-align: center;
			padding: 2px;
			padding-top: 5px;
			top:-2px;
			left: 483px;
			border: 2px solid black;
	}
}
@media (max-width: 767px)
{
	.col-sm-12
	{
		float: left;	
		width: 100%;
	}
}
